body {
    font-family: 'Inter', sans-serif; 
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}
.nav-link {
    text-decoration: none;
    color:#BF7506; 
    margin-left: 24px;
    font-size: 16px;
    line-height: 150%;
}
.nav-link.active {
    font-weight: 700;
}
.container {
    max-width: 870px;
    width: 100%;
    margin: auto;
}
.header {
    padding: 70px 0;
    display: flex;
    align-items: center;
}
.header-text {
    margin-left: 27px;  
}
.header-strong {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
}
.header-heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    /* or 32px */
    letter-spacing: -0.02em;
    margin-top: 8px;
    margin-bottom: 24px;
}
.header-primary {
    color:#BF7506; 
}
.social-list {
    list-style-type: none;
    padding: 0px;
    display: flex;
    align-items: center;
}
.social-link {
    display: inline-block;
    padding: 8px;
}
.header-links {
    display: flex;
    align-items: center;
}
.cv-download {
    padding: 7px 8px ;
    margin-left: 55px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #211B12;
}
.cv-icon {
    margin-right: 4px;
}
.cv-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    flex: none;
    order: 1;
    flex-grow: 0;
    border-bottom: 2px solid #BF7506;
}