body {
    font-family: 'Inter', sans-serif; 
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}
.nav-link {
    text-decoration: none;
    color:#BF7506; 
    margin-left: 24px;
    font-size: 16px;
    line-height: 150%;
}
.nav-link.active {
    font-weight: 700;
}
.container {
    max-width: 870px;
    width: 100%;
    margin: auto;
}
.header {
    padding: 70px 0;
    display: flex;
    align-items: center;
}
.header-text {
    margin-left: 27px;  
}
.header-strong {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
}
.header-heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
    margin-top: 8px;
    margin-bottom: 24px;
}
.header-primary {
    color:#BF7506; 
}
.header-photo {
    width: 230px; 
}
.social-list {
    list-style-type: none;
    padding: 0px;
    display: flex;
    align-items: center;
}
.social-link {
    display: inline-block;
    padding: 8px;
}
.header-links {
    display: flex;
    align-items: center;
}
.cv-download {
    padding: 7px 8px ;
    margin-left: 55px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #211B12;
}
.cv-icon {
    margin-right: 4px;
}
.cv-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    flex: none;
    order: 1;
    flex-grow: 0;
    border-bottom: 2px solid #BF7506;
}
.section-heading {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.03em;
    color: #BF7506;
}
.card{
    max-width: 400px;
    margin-bottom: 40%;
}
.card-text-wrapper {
    padding: 16px;
}
.card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
    color: #BF7506;
    margin-top: 0;
    margin-bottom: 8px;
}
.card-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #211B12;
}
.tags{
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 16px;
}
.tag{
    padding: 4px 8px;
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #211B12;
    text-decoration: none;
    background: #FFFFFF;
    border: 1px solid #DD9C3C;
    border-radius: 4px;
    margin-right: 4px;
}
.card-buttons {
    display: flex;
    align-items: center;
}
.card-button {
    display: flex;
    align-items: center;
    padding: 7px 8px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #211B12;
    border-bottom: 2px solid #BF7506;
    margin-right: 25px;
}
.card-button-icon {
margin-right: 4px;
}
.cards{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}