@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Fira Code", monospace;
  background-color: #011627;
  overflow-x: hidden;
  min-width: 300px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.header__items {
  display: flex;
}
.header__title {
  color: #607B96;
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  margin: 17px 31px 17px 32px;
}
.header__title--active {
  color: #FFFFFF;
}
.header__right {
  position: absolute;
  right: 0;
}
.header__name {
  margin: 17px 154px 17px 22px;
}

.leftside-block {
  margin-top: 300px;
}

.rightside-block {
  margin-top: 54px;
  margin-left: 70px;
  width: 780px;
  height: 742px;
}

.hello {
  display: flex;
  justify-content: center;
}
.hello__hi {
  color: #E5E9F0;
  font-weight: 450;
  font-size: 18px;
  line-height: 24px;
}
.hello__name {
  font-weight: 400;
  font-size: 62px;
  line-height: 81px;
  color: #E5E9F0;
}
.hello__speciality {
  font-weight: 450;
  font-size: 32px;
  line-height: 42px;
  color: #4D5BCE;
}
.hello__github-title {
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  color: #607B96;
}
.hello__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #4D5BCE;
}
.hello__gitlink {
  color: #E99287;
}
.hello__colortext {
  color: #43D9AD;
}
.hello__colortext2 {
  color: #FFFFFF;
}
.hello__colortext3 {
  color: #E99287;
}

.main__leftside {
  margin-left: 14px;
  width: 243px;
}
.main__personal-nav {
  padding-top: 10px;
  margin-bottom: 18px;
}
.main__personal-info {
  margin-bottom: 27px;
}
.main__personal-block {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.main__personal-arrow {
  margin-right: 11px;
  width: 8px;
  height: 6px;
}
.main__personal-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}
.main__section {
  display: flex;
}
.main__folder {
  color: #607B96;
}
.main__folder-color {
  color: #FFFFFF;
}
.main__contact {
  color: #607B96;
}
.main__contacts-item {
  display: flex;
  align-items: center;
}
.main__contacts-img {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}
.main__list-item {
  display: flex;
  align-items: center;
}
.main__arrow {
  margin-right: 11px;
}

.personal-info {
  color: #607B96;
}
.personal-info__text {
  display: inline;
  margin-right: 49px;
}
.personal-info__close {
  display: inline;
}
.personal-info__bottom-unit {
  display: flex;
}
.personal-info__ol {
  list-style-type: none;
  /* Убираем исходные маркеры */
  counter-reset: my-counter;
  /* Задаём имя счетчика */
}
.personal-info__li {
  font-weight: 450;
  font-size: 18px;
  line-height: 150%;
}
.personal-info__li::before {
  text-align: right;
  display: inline-block;
  width: 22px;
  margin-right: 40px;
  content: counter(my-counter);
  /* Выводим число с точкой */
  counter-increment: my-counter;
  /* Увеличиваем значение счётчика */
  color: #607B96;
  /* Цвет чисел */
}
.personal-info__block {
  display: flex;
  align-items: center;
}
.personal-info__top-unit {
  margin-bottom: 18px;
}

.project__list {
  display: flex;
  justify-content: space-evenly;
}
.project__box {
  display: inline-block;
  width: 370px;
  height: 314px;
  background: #011221;
  border: 1px solid #1E2D3D;
  border-radius: 15px;
}
.project__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #5565E8;
}
.project__img {
  margin-bottom: 24px;
  width: 370px;
  height: 145px;
  box-sizing: border-box;
}
.project__p-text {
  width: 304px;
  height: 54px;
  color: #607B96;
  font-weight: 450;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 22px;
  padding-left: 31px;
}
.project__button {
  width: 129px;
  height: 38px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 14px;
  gap: 10px;
  background: #1C2B3A;
  border-radius: 8px;
  border: 0;
  margin-left: 31px;
}
.project__button-text {
  width: 101px;
  height: 18px;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.footer__items {
  display: flex;
  align-items: center;
}
.footer__item-find, .footer__item-github {
  display: flex;
  align-items: center;
}
.footer__item-find {
  padding-left: 22px;
}
.footer__item-github {
  position: absolute;
  right: 0;
  padding-right: 22px;
}
.footer__link-github {
  display: flex;
}
.footer__link-text {
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  color: #607B96;
  margin-right: 5px;
}
.footer__icon-block {
  width: 52px;
  height: 49px;
  padding-top: 12.5px;
  padding-left: 14px;
}
.footer__icon {
  width: 24px;
  height: 24px;
}
.footer__icon-github {
  width: 24px;
  height: 24px;
}
.footer__item-find {
  width: 146px;
  height: 49px;
}/*# sourceMappingURL=style.css.map */