@import 'vars';
// @import 'fonts';
@import 'reset';
// @import 'libs';
@import 'global';

.header {
    &__items {
        display: flex;
    }
    &__title {
        color: $default-text;
        font-weight: 450;
        font-size: 16px;
        line-height: 21px;
        margin: 17px 31px  17px 32px;
    }
    &__right {
        position: absolute;
        right: 0;
    }
    &__name {
        margin: 17px 154px 17px 22px;
    }
}

.leftside-block {
    margin-top: 300px;
}

.rightside-block {
    margin-top: 54px;
    margin-left: 70px;
    width: 780px;
        height: 742px;
}
//
.hello {
    display: flex;
    justify-content: center;
    &__hi {
        color: #E5E9F0;
        font-weight: 450;
        font-size: 18px;
        line-height: 24px;
    }
    &__name {
        font-weight: 400;
        font-size: 62px;
        line-height: 81px;
        color: #E5E9F0;
    }
    &__speciality {
        font-weight: 450;
         font-size: 32px;
        line-height: 42px;
        color: #4D5BCE;
    }
    &__github-title {
        font-weight: 450;
        font-size: 16px;
        line-height: 21px;
        color: #607B96;
    }
    &__link {
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        color: #4D5BCE;
    }
    &__gitlink {
        color: #E99287;
    }
    &__colortext{
        color: #43D9AD;
    }
    &__colortext2{
        color: #FFFFFF;
    }
    &__colortext3{
        color: #E99287;
    }
}

//
.main {
    &__section {
        display: flex;
    }
    &__folder {
        color: $default-text;
    }
    &__contact {
        color: $default-text;
    }
    // &__email {
    //     color: $default-text;
    // }
    // &__phone {

    // }
}

.personal-info {
    color: $default-text;
    &__text {
        display: inline;
    }
    &__close {
        display: inline;
    }
    &__bottom-unit {
        display: flex;
    }
    &__ol {
        list-style-type: none;
        /* Убираем исходные маркеры */
        counter-reset: my-counter;
        /* Задаём имя счетчика */
    }
    &__li::before {
        content: counter(my-counter);
        /* Выводим число с точкой */
        counter-increment: my-counter;
        /* Увеличиваем значение счётчика */
        color: $default-text;
        /* Цвет чисел */
    }
}

//
.footer {
    &__items {
        display: flex;
    }
    &__item-find,
    &__item-github {
        display: flex;
        align-items: center;
    }
    &__item-find {
        padding-left: 22px;
    }
    &__item-github {
        position: absolute;
        right: 0;
        padding-right: 22px;
    }
    &__link-github  {
        display: flex;
    }
    &__link-text {
        font-weight: 450;
        font-size: 16px;
        line-height: 21px;
        color: #607B96;
        margin-right: 5px;
    }
    &__icon-block {
        width: 52px;
        height: 49px;
        padding-top: 12.5px;
        padding-left: 14px;
    }
    &__icon {
        width: 24px;
        height: 24px;
    }
    &__icon-github {
        width: 24px;
        height: 24px;
    }
    // &__item-github {
    //     width: 161px;
    //     height: 49px;
    // }
    &__item-find {
        width: 146px;
        height: 49px;
    }

}
