@import 'vars';
// @import 'fonts';
@import 'reset';
// @import 'libs';
@import 'global';

.header {
    &__items {
        display: flex;
    }
    &__items::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 912px;
        width: 100%;
        height: 1px;
        background: $line;
    }
    &__title {
        color: $default-text;
        font-weight: 450;
        font-size: 16px;
        line-height: 21px;
        margin: 17px 31px  17px 32px;
    }
    &__title--active-hello::before {
        z-index: 6;
        content: "";
        position: absolute;
        left: 303px;
        bottom: 522px;
        top: 55px;
        width: 103px;
        height: 3px;
        background: #FEA55F;
    }
    &__title--active-about::before {
        z-index: 6;
        content: "";
        position: absolute;
        left: 405px;
        bottom: 575px;
        top: 55px;
        width: 161px;
        height: 3px;
        background: #FEA55F;
    }
    &__project--active::after {
        z-index: 6;
        content: "";
        position: absolute;
        left: 566px;
        bottom: 522px;
        top: 55px;
        width: 140px;
        height: 3px;
        background: #FEA55F;
    }
    &__title--active::before {
        z-index: 6;
        content: "";
        position: absolute;
        left: 303px;
        bottom: 522px;
        top: 55px;
        width: 103px;
        height: 3px;
        background: #FEA55F;
    }
    &__title-hello::after {
        content: "";
        position: absolute;
        left: 243px;
        bottom: 531px;
        top: -4px;
        width: 121px;
        height: 1px;
        background: $line;
        transform: rotate(90deg);
    }
    &__title-about::after {
        content: "";
        position: absolute;
        left: 345px;
        bottom: 531px;
        top: -4px;
        width: 121px;
        height: 1px;
        background: $line;
        transform: rotate(90deg);
    }
    &__title-project::after {
        content: "";
        position: absolute;
        left: 505px;
        bottom: 531px;
        top: -4px;
        width: 121px;
        height: 1px;
        background: $line;
        transform: rotate(90deg);
    }
    &__title-project::before {
        content: "";
        position: absolute;
        left: 645px;
        bottom: 531px;
        top: -4px;
        width: 121px;
        height: 1px;
        background: $line;
        transform: rotate(90deg);
    }
    &__title-contact::before {
        content: "";
        position: absolute;
        right: 103px;
        bottom: 531px;
        top: -4px;
        width: 121px;
        height: 1px;
        background: $line;
        transform: rotate(90deg);
    }
    &__title--active {
        color: #FFFFFF;
    }
    &__right {
        position: absolute;
        right: 0;
    }
    &__name {
        margin: 17px 154px 17px 22px;
    }
    &__title-active {
        color: #FFFFFF;
    }
    &__title-active::after {
        z-index: 6;
        content: "";
        position: absolute;
        right: -1px;
        bottom: 522px;
        top: 55px;
        width: 164px;
        height: 3px;
        background: #FEA55F;
    }

}

.leftside-block {
    margin-top: 300px;
}

.rightside-block {
    margin-top: 54px;
    margin-left: 70px;
    width: 780px;
        height: 742px;
}
//
.hello {
    display: flex;
    justify-content: center;
    &__hi {
        color: #E5E9F0;
        font-weight: 450;
        font-size: 18px;
        line-height: 24px;
    }
    &__name {
        font-weight: 400;
        font-size: 62px;
        line-height: 81px;
        color: #E5E9F0;
    }
    &__speciality {
        font-weight: 450;
         font-size: 32px;
        line-height: 42px;
        color: #4D5BCE;
    }
    &__github-title {
        font-weight: 450;
        font-size: 16px;
        line-height: 21px;
        color: #607B96;
    }
    &__link {
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        color: #4D5BCE;
    }
    &__gitlink {
        color: #E99287;
    }
    &__colortext{
        color: #43D9AD;
    }
    &__colortext2{
        color: #FFFFFF;
    }
    &__colortext3{
        color: #E99287;
    }
}

//
.main {
    &__leftside {
        margin-left: 14px;
        width: 243px;
    }
    &__personal-nav{
        padding-top: 10px;
        margin-bottom: 18px;
    }
    &__personal-info {
        margin-bottom: 27px;
    }
    &__personal-block {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    &__personal-arrow {
        margin-right: 11px;
        width: 8px;
        height: 6px;
    }
    &__personal-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #FFFFFF;
    }
    &__section {
        display: flex;
    }
    &__folder {
        color: $default-text;
    }
    &__folder-color {
        color: #FFFFFF;
    }
    &__contact {
        color: $default-text;
    }
    &__contacts-item {
        display: flex;
        align-items: center
    }
    &__contacts-img {
        margin-right: 8px;
        width: 16px;
        height: 16px;
    }
    &__list-item {
        display: flex;
        align-items: center;
    }
    &__arrow {
        margin-right: 11px;
    }
}

.personal-info {
    color: $default-text;
    &__text {
        display: inline;
        margin-right: 49px;
    }
    &__close {
        display: inline;
    }
    &__bottom-unit {
        display: flex;
    }
    &__ol {
        list-style-type: none;
        /* Убираем исходные маркеры */
        counter-reset: my-counter;
        /* Задаём имя счетчика */
    }
    &__li {
        font-weight: 450;
            font-size: 18px;
            line-height: 150%;
    }
    &__li::before {
        text-align: right;
        display: inline-block;
        width: 22px;
        margin-right: 40px;
        content: counter(my-counter);
        /* Выводим число с точкой */
        counter-increment: my-counter;
        /* Увеличиваем значение счётчика */
        color: $default-text;
        /* Цвет чисел */
    }
    &__block {
        display: flex;
        align-items: center;
    }
    &__top-unit {
        margin-bottom: 18px;
    }
}

.project {
    &__list {
        display: flex;
        justify-content: space-evenly;
    }
    &__box {
        display: inline-block;
        width: 370px;
        height: 314px;
        background: #011221;
        border: 1px solid #1E2D3D;
        border-radius: 15px;
    }
    &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        color: $purple;
    }
    &__img {
        margin-bottom: 24px;
        width: 369px;
        height: 145px;
        box-sizing: border-box;
    }
    &__p-text {
        width: 304px;
        height: 54px;
        color: $default-text;
        font-weight: 450;
        font-size: 18px;
        line-height: 150%;
        margin-bottom: 22px;
        padding-left: 31px;
    }
    &__button {
        width: 129px;
        height: 38px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 14px;
        gap: 10px;
        background: #1C2B3A;
        border-radius: 8px;
        border: 0;
        margin-left: 31px;
    }
    &__button-text {
        width: 101px;
        height: 18px;
        font-weight: 450;
            font-size: 14px;
            line-height: 18px;

            color: #FFFFFF;
    }
}

//
.footer {
    &__items {
        display: flex;
        align-items: center
    }
    &__items::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 46px;
        width: 100%;
        height: 1px;
        background: $line;
    }
    &__item-find,
    &__item-github {
        display: flex;
        align-items: center;
    }
    &__item-find {
        padding-left: 22px;
    }
    &__item-github {
        position: absolute;
        right: 0;
        padding-right: 22px;
    }
    &__link-github  {
        display: flex;
    }
    &__link-text {
        font-weight: 450;
        font-size: 16px;
        line-height: 21px;
        color: #607B96;
        margin-right: 5px;
    }
    &__icon-block {
        width: 52px;
        height: 49px;
        padding-top: 12.5px;
        padding-left: 14px;
    }
    &__icon {
        width: 24px;
        height: 24px;
    }
    &__icon-github {
        width: 24px;
        height: 24px;
    }
    // &__item-github {
    //     width: 161px;
    //     height: 49px;
    // }
    &__item-find {
        width: 146px;
        height: 49px;
    }
    &__link-text-line::before {
        content: "";
        position: absolute;
        left: 85px;
        bottom: 900px;
        top: 63px;
        width: 121px;
        height: 1px;
        background: $line;
        transform: rotate(90deg);
    }
    &__link-img-line::before {
        content: "";
        position: absolute;
        left: 137px;
        bottom: 900px;
        top: 63px;
        width: 121px;
        height: 1px;
        background: $line;
        transform: rotate(90deg);
    }
    &__link-images-line::before {
        content: "";
        position: absolute;
        left: 190px;
        bottom: 900px;
        top: 63px;
        width: 121px;
        height: 1px;
        background: $line;
        transform: rotate(90deg);
    }
    &__link-git-line::before {
        content: "";
        position: absolute;
        right: 127px;
        bottom: 900px;
        top: 63px;
        width: 121px;
        height: 1px;
        background: $line;
        transform: rotate(90deg);
    }
}
